/* mobile */
html {
    font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}
/* desktop */
@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}
/* extra large */
@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}

html, body {
  padding: 0 0 0 0;
  font-family: 'helvetica', 'arial', 'sans';
  background-color: #111;
  margin: 1rem;
  letter-spacing: 0.25px;
}

h1 {
    font-size:2rem !important;
}

h2,h3,h4 {
      font-family: Montserrat, sans-serif;
;
  }

p {
    color: #fff;
    font-size: 1rem;
     letter-spacing: 0.25px;
}

a {
  color: transparent;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 30px 30px 30px;
  margin: 1.2rem;
  text-align:center;
  color:#fff;
  letter-spacing: 0.25px;
}

#header {
    font-family: Garamond,serif;
    color: #fff;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#desc{
    font-size: 1.1rem;
}

.assignments {
    display: flex;
    margin: 1.2rem;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.assignment {
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align:center;
  font-family: 'helvetica', 'arial', 'sans';
  padding:0.7rem;
  margin: 1rem;
  width: 15rem;
  height: 20rem;
  overflow: hidden;
  background-color: #191919;
  border-radius: 20px;
}

.assignment:hover {
    overflow:auto;
    transform: translate(0, -8px);
}

.assignment a {
    color: #fff;
    text-decoration: none;
    Width:50%;

}


#a-title {
    color: #fff;
    font-family: Garamond,serif;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em; /* Adjust as needed */
  animation:
    typing 2s steps(30, end),
    blink-caret .6s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

#back {
    position: absolute;
    color: #ffffff;
}

pre code {
  font-family: 'Courier New', 'helvetica', 'sans';
  overflow-wrap: normal;
  font-size: 0.7rem !important;
  background-color: #191919;
  border: 1px solid #000000;
  Color: #ffffff;
  display: block;
  padding: 20px;
  Width:90%;
  White-space:pre-wrap !important;
}

#code-comment {
  Color:#898888;
}

.side-by-side{
    Display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

#subheader {
  font-family: Garamond,serif;
  Padding:1rem;
  Color:#ffffff;
  Width:45%;
  Border-bottom: 1px solid #898888;
}


#texts {
  Display:flex;
  flex-direction: column;
  Width:45%;

}

Ul{
  Color:#ffffff;
}

ol{
  Color:#ffffff;
}

#formula {
  text-align:center;
  font-weight:bold;
  font-size:1rem;
  margin-top:0px;
}





.final {
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align:center;
  font-family: 'helvetica', 'arial', 'sans';
  padding:0.7rem;
  margin: 1rem;
  width: 30rem;
  height: 25rem;
  overflow: hidden;
  background-color: #191919;
  border-radius: 20px;
}

.final:hover {
    overflow:auto;
    transform: translate(0, -8px);
}

.final a {
    color: #fff;
    text-decoration: none;
    Width:50%;

}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
